
SugarSyncSDK/.DS_Store

SugarSyncSDK/SugarSyncSDK.xcodeproj/project.xcworkspace/xcuserdata/mailroom.xcuserdatad/UserInterfaceState.xcuserstate

SugarSyncSDK/SugarSyncSDK/Utilities/.DS_Store

.DS_Store
